<ul>
  <li><%= link_to 'alert', components_alert_path %></li>
  <li><%= link_to 'badge', components_badge_path %></li>
  <li><%= link_to 'button', components_button_path %></li>
  <li><%= link_to 'buttongroup', components_buttongroup_path %></li>
  <li><%= link_to 'card', components_card_path %></li>
  <li><%= link_to 'carousel', components_carousel_path %></li>
  <li><%= link_to 'collapse', components_collapse_path %></li>
  <li><%= link_to 'dropdown', components_dropdown_path %></li>
  <li><%= link_to 'form', components_form_path %></li>
  <li><%= link_to 'inputgroup', components_inputgroup_path %></li>
  <li><%= link_to 'jumbotron', components_jumbotron_path %></li>
  <li><%= link_to 'listgroup', components_listgroup_path %></li>
  <li><%= link_to 'modal', components_modal_path %></li>
  <li><%= link_to 'nav', components_nav_path %></li>
  <li><%= link_to 'navbar', components_navbar_path %></li>
  <li><%= link_to 'popover', components_popover_path %></li>
  <li><%= link_to 'scrollspy', components_scrollspy_path %></li>
  <li><%= link_to 'spinner', components_spinner_path %></li>
  <li><%= link_to 'toast', components_toast_path %></li>
  <li><%= link_to 'tooltip', components_tooltip_path %></li>
</ul>
